<?xml version="1.0" encoding="UTF-8"?>
<!--NOTE If no unit of time is specified, then the unit of time is assumed to be milliseconds,
which is usually inappropriate. If you change the default scanning period, do not forget to
specify a time unit.-->
<configuration debug="false" scan="true" scanPeriod="30 seconds">

    <contextName>Portal Foundation</contextName>

    <!-- To enable jmx access to the appenders -->

    <jmxConfigurator/>

    <!-- Console -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS}  %-5level %logger{10} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.apache.http" level="ERROR"/>
    <logger name="httpclient.wire.header" level="ERROR"/>
    <logger name="httpclient.wire.content" level="ERROR"/>
    <logger name="org.apache.camel" level="ERROR"/>
    <logger name="org.apache.camel.impl.DefaultShutdownStrategy" level="WARN"/>
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
