<?xml version="1.0" encoding="UTF-8"?>
<Context useHttpOnly="false">

    <Resource name="jdbc/content-datasource"
              auth="Container"
              type="javax.sql.DataSource"
              maxActive="10"
              maxIdle="2"
              username="${db.content.username}"
              password="${db.content.password}"
              maxWait="5000"
              driverClassName="${db.jdbc.driver}"
              validationQuery="select 1"
              defaultTransactionIsolation="READ_COMMITTED"
              url="${portal.content.jdbc.url}"/>

    <Environment name="backbase/config"
            value="${backbase.config.path}/backbase.properties"
            type="java.lang.String"
            override="false"/>

</Context>