<div class="{{element.classList}} radio-inline"
        name="{{element.name}}"
        id="{{element.key}}"
        ng-model="element.value[0]"
        ng-required="{{element.required}}"
        ng-class="{'has-error':element.hasError}"
        ng-disabled="element.disabled || element.readOnly || (element.hasError && element.hasStyle('FormReadOnlyOnError'))"
        ng-readonly="element.readonly">
         
        <div ng-repeat="option in element.options" class="radio-item">
                <input  ng-readonly="element.readonly" ng-disabled="element.disabled || element.readOnly || (element.hasError && element.hasStyle('FormReadOnlyOnError'))"
                        type="radio" name="{{element.key}}+radio_pick" ng-model="element.value[0]" ng-value="option.value" ng-change="$emit('update')">
                <span class="radio-item__name">{{option.displayValue}}</span>
        </div>
</div>