<?xml version="1.0" encoding="UTF-8"?>
<Context useHttpOnly="false">

    <Resource name="jdbc/orchestratorDS"
              auth="Container"
              type="javax.sql.DataSource"
              maxActive="10"
              maxIdle="2"
              username="${db.orch.publishing.username}"
              password="${db.orch.publishing.password}"
              maxWait="5000"
              driverClassName="${db.jdbc.driver}"
              validationQuery="select 1"
              defaultTransactionIsolation="READ_COMMITTED"
              url="${orchestrator.publishing.jdbc.url}"/>

    <Resource name="jdbc/auditDS"
              auth="Container"
              type="javax.sql.DataSource"
              maxActive="4"
              maxIdle="2"
              username="${db.audit.username}"
              password="${db.audit.password}"
              maxWait="5000"
              driverClassName="${db.jdbc.driver}"
              validationQuery="select 1"
              defaultTransactionIsolation="READ_COMMITTED"
              url="${audit.jdbc.url}"/>

    <Environment name="backbase/config"
            value="${backbase.config.path}/backbase.properties"
            type="java.lang.String"
            override="false"/>

</Context>